.seven-segment {
    position: relative;
    width: 100px;
    height: 200px;
  }
  
  .segment {
    position: absolute;
    background-color: grey;
    border-radius: 70px;
    transition: background-color 0.2s;
  }
  
  .segment.on {
    background-color: greenyellow;
  }
  
  .segment.a {
    top: 0;
    left: 20px;
    width: 60px;
    height: 20px;
  }
  
  .segment.b {
    top: 20px;
    right: 0;
    width: 20px;
    height: 60px;
  }
  
  .segment.c {
    bottom: 20px;
    right: 0;
    width: 20px;
    height: 60px;
  }
  
  .segment.d {
    bottom: 0;
    left: 20px;
    width: 60px;
    height: 20px;
  }
  
  .segment.e {
    bottom: 20px;
    left: 0;
    width: 20px;
    height: 60px;
  }
  
  .segment.f {
    top: 20px;
    left: 0;
    width: 20px;
    height: 60px;
  }
  
  .segment.g {
    top: 90px;
    left: 20px;
    width: 60px;
    height: 20px;
  }